@{
    ViewData["Title"] = "Home Page";
}

<!-- Small boxes (Stat box) -->
<div class="row">
    
    <!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    
    <!-- right col -->
</div>
