@model Admin.Models.ContactUs

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h2 class="card-title">Edit </h2><br>
        </div>
        <div class="card-body">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Edit Contact Us</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="FullName" class="control-label"></label>
                                    <input asp-for="FullName" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Comment" class="control-label"></label>
                                    <input asp-for="Comment" class="form-control" />
                                    <span asp-validation-for="Comment" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label"></label>
                                    <select asp-for="Status" class="form-control">
                                        <option selected="selected">ACTIVE</option>
                                        <option>INACTIVE</option>
                                        <option>DELETED</option>
                                        <option>PENDING</option>
                                        <option>APPROVED</option>
                                        <option>REJECTED</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="CreatedAt" class="control-label"></label>
                                    <input asp-for="CreatedAt" class="form-control" />
                                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LastModifiedAt" class="control-label"></label>
                                    <input asp-for="LastModifiedAt" class="form-control" />
                                    <span asp-validation-for="LastModifiedAt" class="text-danger"></span>
                                </div>

                            </div>

                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <p>Press Save before leave page</p>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
